<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Diet Tracker</title>
    <script src="/static/foodtypes.js"></script>
    <link rel="stylesheet" href="style.css" />

</head>

<body id="introduction">
    <h1>Diet Tracker let's you calculate your food's nutrition in real time.</h1>
    <div>
        <form id="foodTypeInput" action="/result"><input name="food" id="foodType" type="text" />
            <button id="submit">Submit</button>
        </form>
        <button id="addItem">Add Item</button>
        <ol id="foodList">
        </ol>
    </div>
</body>

</html>